<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>NSAppIconActionTintColorName</key>
			<string>green</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>orange</string>
				<string>orange1</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SGConfDemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sgconf</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
